<Files *.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files index.php>
    Order Deny,Allow
    Allow from all
</Files>

<Files apiv1.php>
    Order Deny,Allow
    Allow from all
</Files>

<Files apiv2.php>
    Order Deny,Allow
    Allow from all
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} ^/api/v1(.*)$
    RewriteRule ^ apiv1.php [L]

    RewriteCond %{REQUEST_URI} ^/api/v2(.*)$
    RewriteRule ^ apiv2.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	# Append this list if you need any other excluded paths/aliasses
    RewriteCond %{REQUEST_URI} !pagespeed
    RewriteCond %{REQUEST_URI} !phpmyadmin
    RewriteCond %{REQUEST_URI} !phpldapadmin
    RewriteCond %{REQUEST_URI} !server-status
    RewriteCond %{REQUEST_URI} !server-info
    RewriteCond %{REQUEST_URI} !ldap-status
    RewriteCond %{REQUEST_URI} !balancer-manager
    RewriteRule ^ index.php [L]
</IfModule>
